{{ ansible_managed | comment }}

## Session

{%if sshd_config_ClientAliveInterval is defined %}
ClientAliveInterval {{ sshd_config_ClientAliveInterval }}
{% endif %}
{%if sshd_config_ClientAliveCountMax is defined %}
ClientAliveCountMax {{ sshd_config_ClientAliveCountMax }}
{% endif %}

{%if sshd_config_MaxSessions is defined %}
MaxSessions {{ sshd_config_MaxSessions }}
{% endif %}
{%if sshd_config_Compression is defined %}
Compression {{ sshd_config_Compression }}
{% endif %}
{%if sshd_config_UsePrivilegeSeparation is defined %}
UsePrivilegeSeparation {{ sshd_config_UsePrivilegeSeparation }}
{% endif %}
{%if sshd_config_TCPKeepAlive is defined %}
TCPKeepAlive {{ sshd_config_TCPKeepAlive }}
{% endif %}

{%if sshd_config_AllowAgentForwarding is defined %}
AllowAgentForwarding {{ sshd_config_AllowAgentForwarding }}
{% endif %}
{%if sshd_config_X11Forwarding is defined %}
X11Forwarding {{ sshd_config_X11Forwarding }}
{% endif %}
