#!/usr/bin/env bash

# Are we in bash?
[ "${BASH_VERSION}" != "" ] || return 0

# Are we interactive?
[ "${PS1}" != "" ] || return 0

# dotfiles
# Reference: https://github.com/dschier-wtd/.dotfiles
if [ -e "${HOME}"/.dotfiles/config/bash/ ]; then
    for file in "${HOME}"/.dotfiles/config/bash/*; do
        # shellcheck source=/dev/null
        source "${file}"
    done
fi
